@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --primary-hover: 24 9.8% 15%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    --filter-normal: 0%;
  }

  .dark {
    /* --background: 0, 0%, 10%;
    --foreground: 60 9.1% 97.8%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%; */

    --background: 0 0% 10%;
    --foreground: 0 0% 90%;

    --card: 0 0% 20%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 20%;
    --primary-foreground: 60 9.1% 97.8%;
    --primary-hover: 0 0% 30%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 90%;

    --accent: 0 0% 40%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 90%;

    --border: 0 0% 30%;
    --input: 0 0% 40%;
    --ring: 0 0% 50%;

    --filter-normal: 90%;

    --link: 120 50% 75%;
  }

  .white-filter {
    filter: invert(var(--filter-normal));
  }

  .scroll-to-top {
    color: hsl(var(--background));
    border: 1px solid hsl(var(--background));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
